<menu-superior></menu-superior>
<div class="container">
  <div class="jumbotron">
    <h2>
      Cadastro de Atendimento
      <small class="text-muted">LASA</small>
    </h2>
    <br>
    <form class="form" name="formCadastro" id="formulario" novalidate ng-submit="vm.cadastrar(vm.cadastro,formCadastro)"> <!-- Inicio do Fomulário -->
      <div class="row">
        <p class="alert-success" ng-hide="alerta">{{vm.mensagem}}</p>
        <div class="form-group col-sm-3">
          <label for="codProd">Código do Produto</label>
          <br>
          <input class="form-control" name="codProd" id="codProd" type="number" ng-model="vm.cadastro.codProd" ng-class="formCadastro.codProd.$invalid && formCadastro.codPRdo.$touched ? 'alteraFocoErro' : ''" ng-required="true" ng-minlength="4" ng-maxlength="7">
          <div class="mensagem-validacao" ng-messages="formCadastro.codProd.$error" ng-show="formCadastro.codProd.$dirty" role="alert">
            <div ng-message="minlength">Curto demais</div>
            <div ng-message="maxlength">Longo demais</div>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label for="nomeProd">Nome do Produto</label>
          <br>
          <input class="form-control" name="nomeProd" id="nomeProd" ng-model="vm.cadastro.nomeProd" ng-class="formCadastro.nomeProd.$invalid && formCadastro.nomeProd.$touched ? 'alteraFocoErro' : ''" ng-required="true">
        </div>
        <div class="form-group col-sm-3">
          <label for="precoProd">Preço do Produto</label>
          <br>
          <input class="form-control" name="precoProd" id="precoProd" ng-model="vm.cadastro.precoProd" ng-class="formCadastro.precoProd.$invalid && formCadastro.precoProd.$touched ? 'alteraFocoErro' : ''"></textarea>
        </div>        
         <!-- Fim da linha -->
        <div class="btns">
          <button class="btn btn-success" type="submit" ng-disabled="!formCadastro.$valid"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;Enviar</button>
          <button class="btn btn-primary" type="reset" ng-click="vm.limpaCampos(formCadastro)"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span>&nbsp;&nbsp;Limpar</button>
        </div>
      </form> <!-- Fim do Fomulário -->
    </div> <!-- Fim da Jumbotron -->
  </div> <!-- Fim da Container -->
