<menu-superior></menu-superior>
<div class="container">
  <div class="jumbotron">
    <h2>
      <span class="glyphicon glyphicon-search"></span>
      Consultas
      <small class="text-muted">LASA</small>
    </h2>
    <br>
    <form novalidate class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-1 control-label" for="procurar">Procurar:</label>
        <div class="col-sm-5">
          <input type="text" id="procurar" name="procurar" ng-model="procurar" class="form-control" placeholder="Procurar...">
        </div>
        <div class="col-sm-3">
          <md-datepicker class="datepicker" ng-model="dataDe" md-placeholder="Data inicial"></md-datepicker>
        </div>
        <div class="col-sm-3">
          <md-datepicker ng-model="dataAte" md-placeholder="Data final"></md-datepicker>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>
          <div class="btn-group" style="width:180px">
            <button class="btn btn-info btn-sm" type="button" style="width: 130px" ng-click="vm.ordenar('codProd')" ng-class="vm.sortKey=='codProd' ? 'active' : ''">Código do Produto</button>
            <button class="btn btn-info btn-sm dropdown-toggle " style="width: 50px" ng-class="vm.filtrarCodProd=='' || vm.filtrarCodProd==null ? '' : 'btn-warning'"
              type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="cadastro in vm.cadastros | unique:'codProd'">
                <a ng-click="vm.filtrarConsulta(cadastro.codProd,'codProd')">{{cadastro.codProd}}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a ng-click="vm.filtrarConsulta(null,'codProd')">Todos</a>
              </li>
            </ul>
          </div>
        </th>
        <th>
          <div class="btn-group" style="width:150px">
            <button class="btn btn-info btn-sm" type="button" style="width:130px" ng-click="vm.ordenar('nomeProd')" ng-class="vm.sortKey=='nomeProd' ? 'active' : ''">Nome do Produto</button>
            <button class="btn btn-info btn-sm dropdown-toggle" style="width:20px" ng-class="vm.filtrarNomeProd=='' || vm.filtrarNomeProd==null ? '' : 'btn-warning'"
              type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="cadastro in vm.cadastros | unique:'nomeProd'">
                <a ng-click="vm.filtrarConsulta(cadastro.nomeProd,'nomeProd')">{{cadastro.nomeProd}}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a ng-click="vm.filtrarConsulta(null,'nomeProd')">Todos</a>
              </li>
            </ul>
          </div>
        </th>
        <th>
          <div class="btn-group" style="width:74px">
            <button class="btn btn-info btn-sm" type="button" ng-click="vm.ordenar('data')" ng-class="vm.sortKey=='data' ? 'active' : ''">Data</button>
            <button class="btn btn-info btn-sm dropdown-toggle" ng-class="vm.filtrarData=='' || vm.filtrarData==null ? '' : 'btn-warning'"
              type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="cadastro in vm.cadastros | unique:'data'">
                <a ng-click="vm.filtrarConsulta(cadastro.data,'data')">{{cadastro.data | date:'dd/MM/yyyy'}}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a ng-click="vm.filtrarConsulta(null,'data')">Todos</a>
              </li>
            </ul>
          </div>
        </th>
        <th>
          <div class="btn-group" style="width:140px">
            <button class="btn btn-info btn-sm" type="button" style="width:120px" ng-click="vm.ordenar('precoProd')" ng-class="vm.sortKey=='precoProd' ? 'active' : ''">Preço do Produto</button>
            <button class="btn btn-info btn-sm dropdown-toggle" style="width:20px" ng-class="vm.filtrarPrecoProd=='' || vm.filtrarPrecoProd==null ? '' : 'btn-warning'"
              type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="cadastro in vm.cadastros | unique:'precoProd'">
                <a ng-click="vm.filtrarConsulta(cadastro.precoProd,'precoProd')">{{cadastro.precoProd}}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a ng-click="vm.filtrarConsulta(null,'precoProd')">Todos</a>
              </li>
            </ul>
          </div>
        </th>
        <th>
          
        </div>
      </th>
      </tr>
    </thead>
    <tbody>
      <tr dir-paginate="cadastro in vm.cadastros | filter:procurar | filter:vm.filtrarnomeProd | filter:vm.filtrarCodProd |filter:vm.filtrarData | filter:vm.filtrarPrecoProd | dateFilter:dataDe:dataAte | orderBy:vm.sortKey:vm.reverse | itemsPerPage:100">
        <td>{{cadastro.codProd}}</td>
        <td>{{cadastro.nomeProd}}</td>
        <td>{{cadastro.data | date:'dd/MM/yyyy'}}</td>
        <td>{{cadastro.precoProd}}</td>
      </tr>
    </tbody>
</table>
<div><button class="btn btn-info btn-sm" style="width:120px" ng-click="vm.edit(cadastros)">Editar</div>
<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
</div>